@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@200;300;400;500;600;700&display=swap');

/* #region COMMON */

.noTransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

body {
    width: auto;
    max-width: 2300px;
    margin: 0 auto;
    background-color: #000000;
    /* background-color: #222831; */
    position: relative;
    font-weight: 300;
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif !important;
}

main {
    margin-left: 200px;
    color: #ececec;
}

.section-title {
    padding: 5px 1rem;
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: 700;
    color: #CF5C36;
    width: fit-content;
}

.section-container {
    padding: 2rem;
    margin-left: 25px;
    margin-right: 25px;
}

#overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #ffffff;
    transition: opacity 0.3s;
    z-index: -1;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 15px 0px;
    font-weight: 600;
    font-size: 1rem;
    color: #ececec;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 300;
}

/* #endregion COMMON */

/* #region NAVIGATION */

button {
    display: none;
    position: fixed;
    top: 5px;
    left: 5px;
    border: none;
    background-color: #000000;
    z-index: 500;
    padding: 3px 7px;
}

nav {
    width: 200px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #262626;
    /* background-color: #30475e; */
    text-align: center;
    transition: width 0.3s;
    overflow-y: auto;
}

.nav-container {
    width: 100%;
    /* background-color: #343434; */
    /* background-color:#ececec; */
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style-type: none;
    /* margin: 0 5px; */
}

.nav-item a {
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s;
    /* padding: 0.5rem 0.8rem; */
    font-size: 1.35rem;
    font-weight: 400;
    background-color: #000000;
}

.nav-item a:hover, .nav-link.active {
    background-color: #cf5c36;
    color:#ececec;
}

#sidebar-links img {
    width: 24px;
}

#sidebar-links .sidebar-contact {
    margin-bottom: 20px;
}

#sidebar-links {
    padding: 40px 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #ececec;
    text-align: center;
}

#sidebar-info .yellow {
    color: #CF5C36;
}


#sidebar-info .info-text {
    display: block;
    margin: 20px 10px;
    font-weight: 400;
}

#sidebar-info a {
    color: #ececec;
    text-decoration: none;
    padding: 2px 10px;
}

#sidebar-info a:link {
    transition: 0.3s;
}

#sidebar-info a:hover {
    background-color: #ececec;
    color: #222222;
    transition: 0.3s;
}

#sidebar > img {
    width: 100%;
}

/* #endregion NAVIGATION */

/* #region ABOUT */

#about {
    padding: 60px 10px 0px 40px;
    margin-left: 25px;
    margin-right: 25px;
}

.about-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 85%;
    margin-left: 20px;
}

.about-heading {
    margin-right: 30px;
    flex-grow: 0;
    flex-shrink: 0;
}

.about-heading-text {
    width: 100%;
}

#about img {
    width: 300px;
    margin: 0px 0px 20px 15px;
    position: relative;
    top: 10px;
    right: 10px;
    justify-self: flex-end;
}

.about-content h1 {
    font-size: 6.0rem;
    color: #CF5C36;
    font-weight: 700;
}

.about-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
}

#about-accordion {margin-left: -8px;}

.about-title a {
    color:#CF5C36;
    font-size: 2.1rem;
    text-decoration: none;
}

.about-text-large {
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.about-title {
    font-weight: 500;
}

.about-text-large p {
    font-size: 1.7rem;
    margin: 10px 10px 0px;
}

.about-text-large span {
    font-weight: 600;
    color: #EFC88d;
}

/* #endregion ABOUT */

/* #region SKILLS */

.skills-content {
    background-color: #282828;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.skills-container {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 2);
    padding: 15px 20px;
    font-size: 1.3rem;
}

.label {
    color: #efc88d;
    font-weight: 600;
    font-size: 1.8rem;
    padding: 7px 0px;
}

/* #endregion SKILLS */

/* #region EDUCATION */

.education-container {
    background-color: #282828;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

#education-degree {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px 10px;
}

.education-container span {
    font-weight: 600;
    color: #cf5c36;
}

.education-title {
    color: #efc88d;
    width: 100%;
    font-weight: 600;
    font-size: 1.8rem;
}

#education-degree .info-label {
    width: 50%; 
    padding: 0px 15px 0px 0px;
}

#education-courses {
    padding: 10px 15px;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.course-list p {
    width: calc(50% - 30px);
    height: fit-content;
    margin-right: 30px;
}

.course-list span {
    color: #CF5C36;
}

/* #endregion EDUCATION */

/* #region EXPERIENCE */

.experience-container {
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container-item {
    margin: 15px 20px 0px 20px;
    font-size: 1.3rem;
    font-weight: 300;
}

.container-item p {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 6px;
    color: #EFC88b;
}

.container-item .info-label {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 6px;
    color: #CF5C36;
    font-style: italic;
}

.container-item .basic-info {
    color: #ececec;
    padding: 10px 20px;
}

.container-item .points {
    padding: 0px 10px 10px 10px;
}

.container-item li {
    margin-bottom: 6px;
}

.experience-container strong {
    font-weight: 600;
}

/* #endregion EXPERIENCE */

/* #region PROJECTS */

#accordion > div:first-child {
    border-top: 1px solid #ececec;
}

#projects .card-header .card-link {
    font-size: 1.5rem;
    font-weight: 600;
    color: #efc88b;
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px 20px;
    text-align: center;
}

#projects .card {
    font-size: 1.3rem;
    border-radius: 0px;
    border: none;
    background-color: #282828;
}

#projects .card-header {
    background-color: #000000;
    border-bottom: 1px solid #ececec;
    border-radius: 0px;
    padding: 10px 0px;
}

#projects .info-label {
    margin-bottom: 6px;
}

#projects .card-body {
    display: flex;
    align-items: stretch;
    background-color: #282828;
    color: #ececec;
}

#projects .card-body .card-link {
    display: block;
    width: fit-content;
    font-weight: 700;
    margin-bottom: 10px;
    color: #CF5C36;
}

#projects .card-body .card-link:link {
    padding: 0px;
    transition: 0.3s;
}

#projects .card-body .card-link:hover {
    background-color: #ececec;
    color: #222222;
    padding: 0px 15px;
    transition: 0.3s;
}

#projects .info-label span {
    font-weight: 600;
}

#projects .card-section {
    margin-right: 10px;
    padding-right: 20px;
    width: 420px;
    border-right: 1px solid #ececec;
}

#projects ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}

#projects li {
    margin-bottom: 6px;
    font-size: 1.2rem;
}

/* #endregion PROJECTS */