@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

/* COMMON CSS BEGINS HERE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    width: 100vw;
    max-width: 100%;
}

:target::before {
    padding-top: 80px;
    margin-top: -80px;
}

body {
    font-family: 'Jost', sans-serif;
}

hr {
    border: 1px solid black;
}

section {
    width: 100%;
    padding: 30px;
}

section p {
    font-size: 20px;
    margin: 5px auto;
    font-weight: 500;
}

section ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 300;
}

.bordered-section {
    border: 10px solid white;
    border-top: none;
}

.grey {
    background-color: rgb(241, 241, 241);
}

.blue {
    background-color: rgb(228, 231, 255);
}

.section-title {
    font-size: 2em;
    font-weight: 700;
}

.container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
}

.label {
    font-weight: 500 !important;
    padding-right: 10px;
    text-align: left;
}

.info-label {
    font-weight: 300 !important;
}

.basic-info {
    padding-right: 50px;
}

.info {
    padding-left: 20px;
}

/* COMMON CSS BEGINS HERE */

/* HEADER CSS BEGINS HERE */

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header + main {
    padding-top: 80px;
}

nav {
    background-color: white;
    width: 100%;
    padding: 20px 10px;
}

ul span a {
    width: fit-content;
    font-weight: 700;
    font-size: 25px;
    padding: 5px 15px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav li {
 list-style-type: none;
 display: inline;   
 font-weight: 500;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    padding: 5px 10px;
}

nav a:hover {
    color: rgb(56, 75, 216);
}

/* HEADER CSS ENDS HERE */

/* MAIN SECTION CSS BEGINS HERE */

#main {    
    height: 320px;
    background-image: url("kelly.jpg");
    background-position-y: 0%;
    background-position-x: 50%;
    background-size: auto;
    background-repeat: no-repeat;
    color: rgb(235, 235, 235);
    border-bottom: 4px solid black;
    margin-bottom: 10px;
}

.vertical-centre {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-text {
    padding-bottom: 17px;
}

#main img {
    width: 200px;
    border-radius: 2%;
    border: 2px solid black;
    float: left;
    margin: 0px 60px 0px 20px;
}

#main p {
    font-size: 1.5rem;
    font-weight: 300;
}

h1 {
    font-size: 4.5rem;
    font-weight: 700;
}
 
h3 {
    font-size: 2rem;
    font-weight: 500;
}

/* MAIN SECTION CSS ENDS HERE */

/* SKILLS SECTION CSS BEGINS HERE */

.skills-container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.skills-container .label {
    min-width: 150px;
}

.asterisk {
    font-size: 16px;
    margin: 10px 0px;
    font-family: 'Jost', sans-serif;
    word-wrap: normal;
}

/* SKILLS SECTION CSS ENDS HERE */

/* EDUCATION SECTION CSS BEGINS HERE */

#education table {
    font-size: 20px;
    width: fit-content;
    text-align: left;
}

/* EDUCATION SECTION CSS ENDS HERE */

/* PROJECTS SECTION CSS BEGINS HERE */

#projects span {
    font-weight: 400;
}

#projects a {
    text-decoration: none;
    font-weight: 500;
}

#projects a:hover {
    text-decoration: underline;
}

.project-content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.collapsible-container {
    width: 100%;
    margin: 0 auto;
}

.collapsible-content {
    padding: 20px;
    background-color: rgb(241, 241, 241);
}

/* PROJECTS SECTION CSS ENDS HERE */

/* FOOTER CSS BEGINS HERE */

footer {
    width: 100%;
    padding: 10px 30px 30px 30px;
    font-size: 20px;
    text-align: center;
}

footer img {
    padding: 0px 10px;
}

.top-padding {
    padding-top: 5px;
}

.contact-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0px;
}

.spacer {
    padding: 0px 20px;
}

.contact-img {
    width: 40px;
}

.footer-link {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}

.footer-link:hover {
    color: rgb(56, 75, 216);
}

.bottom-row {
    padding-left: 40px;
    padding-right: 40px;
}

select {
    display: block;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    background-color: rgb(204, 210, 255);
    width: 100%;
    margin: 10px 0px 20px;
    -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
    padding: 20px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

@media screen and (max-width: 900px) {

    #main p {
        font-size: 1.2rem;
        font-weight: 300;
    }
    
    h1 {
        font-size: 3.5rem;
        font-weight: 700;
    }
     
    h3 {
        font-size: 1.8rem;
        font-weight: 500;
    }

    ul span a {
        display: block;
        width: 100vw;
        text-align: center;
        margin-bottom: 10px;
    }

    header + main {
        padding-top: 110px;
    }

    :target::before {
        padding-top: 120px;
        margin-top: -120px;
    }

    footer {
        font-size: 18px;
    }
}

@media screen and (max-width: 705px) {
    #main img {
        float: none;
        display: block;
        margin: 0 auto;
    }

    #main {
        padding-top: 60px;
        height: 620px;
    }

    .main-text {
        position: relative;
        width: 100%;
        top: 30%;
        text-align: center;
    }

    .container {
        flex-direction: column;
        justify-content: center;
    }

    .skills-container {
        margin-bottom: 20px;
    }

    .basic-info {
        padding-right: 0;
        margin-bottom: 20px;
    }

    #experience ul {
        margin-left: 22px;
    }

    .bottom-row {
        display: block;
    }

    .bottom-row.footer-link {
        margin-top: 15px;
    }
}

@media screen and (max-width: 400px) {

    header + main {
        padding-top: 170px;
    }
    
    nav li {
        flex-basis: 50%;
        text-align: center;
        padding-top: 10px;
    }
    
    #main {
        height: 620px;
    }

    #main p {
        font-size: 1rem;
        font-weight: 300;
    }
    
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }
     
    h3 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .section-title {
        font-size: 1.7rem;
    }

    span, p, td, li, select {
        font-size: 1rem !important;
    }

    .asterisk {
        font-size: 0.9rem !important;
    }

}